torch
torchvision
manga-ocr
ultralytics
google-generativeai
transformers
accelerate
opencv-python-headless
gradio
simple-lama-inpainting
bitsandbytes
scipy
paddlepaddle-gpu
paddleocr
comic-text-detector
Pillow
numpy
